<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-get-env" version="0.1.0">
   <name>GetEnv</name>
   <js-module name="GetEnv" src="www/GetEnv.js">
      <clobbers target="cordova.plugins.GetEnv" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="GetEnv">
            <param name="android-package" value="en.jacobjanak.getenv.GetEnv" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/GetEnv.java" target-dir="src/cordova-get-env/GetEnv" />
   </platform>
</plugin>
